{
    "private": true,
    "type": "module",
    "dependencies": {
        "@zoho-studio/core": "link:@zoho-studio/core",
        "@zoho-studio/auth": "link:@zoho-studio/auth",
        "@zoho-studio/zoho-crm": "link:@zoho-studio/zoho-crm",
        "@zoho-studio/zoho-projects": "link:@zoho-studio/zoho-projects"
    },
    "devDependencies": {
        "@types/bun": "latest",
        "typescript": "^5"
    }
}
